
body{
    margin: 0;
    padding: 0;
    min-height: 100px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

.AppBar{position: static;}

.LogoIcon{
    display: flex;
}

.LogoText{
    display: flex;
    font-family: monospace;
    font-weight: 700;
    color: 'inherit';
    letter-spacing: .3rem;
    text-decoration: none;
}