.AppBar{position: static;}

.LogoIcon{
    display: flex;
}

.LogoText{
    display: flex;
    font-family: monospace;
    font-weight: 700;
    color: 'inherit';
    letter-spacing: .3rem;
    text-decoration: none;
}